# Environnement d'execution de l'API Gateway.
NODE_ENV=development

# Port HTTP interne de la Gateway.
PORT=3000

# Origines autorisees pour les appels du frontend.
CORS_ORIGIN=http://localhost:3000

# Endpoint GraphQL de l'Auth Service.
AUTH_SERVICE_GRAPHQL_URL=http://localhost:3002/graphql

# Endpoint GraphQL du Vehicle Service.
VEHICLE_SERVICE_GRAPHQL_URL=http://localhost:3003/graphql

# Endpoint GraphQL du Traffic Service.
TRAFFIC_SERVICE_GRAPHQL_URL=http://localhost:3004/graphql

# Endpoint GraphQL du Notification Service.
NOTIFICATION_SERVICE_GRAPHQL_URL=http://localhost:3005/graphql

# Endpoint GraphQL de l'Incident Service.
INCIDENT_SERVICE_GRAPHQL_URL=http://localhost:3006/graphql

# URL PostgreSQL disponible pour les scripts Prisma ou validations locales si necessaire.
DATABASE_URL=postgresql://smart_traffic_example:replace-with-local-password@localhost:5432/smart_traffic_example?schema=public
